# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PokemonKartOyunu/nbproject/private/
/PokemonKartOyunu/build/
/Kaynak_kodlar/build/
/sourceCodes/build/
/sourceCodes/nbproject/private/
/source_Codes/build/
/source_Codes/nbproject/private/
/Lab5/nbproject/private/
/Lab5/build/